#content {
	margin: 40px 50px;
}

li {
	margin-bottom: 0.5em;
}

pre code {
	padding: 10px;
	display: block;
	background-color: #eee;
	overflow: auto;
}

table {
	border-collapse: collapse;
}

th,
td {
	border: 1px solid black;
	padding: 4px;
}

th {
	background-color: rgba(100, 100, 100, 0.25);
	text-align: left;
}

#content .material-icons-outlined {
	vertical-align: middle;
	margin-right: 5px;
}

@media (max-device-width: 1024px) {
	button,
	input {
		font-size: 16px;
	}

	#content {
		margin: 10px 20px;
	}

	#note-list .stickies h3 {
		font-size: medium;
	}

	#note-list .stickies {
		width: 140px;
		height: 140px;
	}

	#note-list .stickies .body {
		width: 140px;
		height: 140px;
	}

	#note-list .stickies .body .content {
		width: 120px;
		font-size: 9pt;
	}
}
